################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Budget Planer/UI/bin
/.vs
*.user
/Budget Planer/packages/DocumentFormat.OpenXml.2.12.0/lib
/Budget Planer/packages/DocumentFormat.OpenXml.2.12.0
/Budget Planer/src/ServiceCollection/ServiceCollection/obj
/Budget Planer/UI/Properties
/Budget Planer/src/XmlSaver/bin/Debug/netstandard2.0
/Budget Planer/src/XmlSaver/obj
/Budget Planer/src/UI.Wpf/UI.Wpf/bin/Debug
/Budget Planer/src/UI.Wpf/UI.Wpf/obj/Debug
/Budget Planer/src/UI.Wpf/bin/Debug
/Budget Planer/src/UI.Wpf/obj/Debug
/Budget Planer/src/UI.Wpf/bin
/Budget Planer/src/XmlSaver/bin/Debug/netstandard2.1
/Budget Planer/src/backup/UI/obj/Debug/netstandard2.0
/Budget Planer/src/backup/UI/obj
/Budget Planer/src/UI/obj/Debug
/Budget Planer/src/UI/bin/Debug
/Budget Planer/src/UI.Wpf/obj/Release
/Budget Planer/src/UI/obj/Release
